body{
    display: flex;
    flex-flow: row;
    align-items: center;
    z-index: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-container{
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    margin: auto;
    width: 1000px;
    height: 600px;
    box-shadow: 0px 5px 10px  #d3d3d3;
}

.head-info{
    height: 100px;
    background-color: #696969;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
    box-shadow: 0px 5px 10px  #d3d3d3;
    display: flex;
    flex-flow: row;
    align-items: center;
}
.body-container{
    height: 500px;
    background-color: #d3d3d3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 0;
}
.center-align{
    margin:auto;
}
.seat-layout{
    width:60%;
    height: 100%;
    float: left;
    background-color: lightcoral;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    /* display: flex;
    align-items: flex-start;
    flex-flow: wrap; */
}
.seat-info{
    width:40%;
    height: 100%;
    float: left;
}
.seat{
    height: 60px;
    width: 60px;
    background-color: silver;
    box-shadow: 0px 0px 5px #d3d3d3;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 40px;
    display: inline;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
}
.seat-detail{
    padding: 20px;
    width: 100%;
    float: left;
    height: 100%;
    background-color: #ffd9b1;
    box-sizing: border-box;
}

.available{
    background-color: lightgreen;
}
.selected{
    background-color: greenyellow;
}
.booked{
    background-color: darkgreen;
}
.book_seat{
    padding: 10px;
    background-color: yellow;
    color: chocolate;
    border: 1px solid chocolate;
    font-size: 16px;
}